# Nombre de la imagen
IMAGE_NAME=danOS

# Usuario/organización de GitHub
REPO_ORGANIZATION="1ndals"

IMAGE_DESC="danOS - Mi imagen Linux personalizada basada en Bazzite"
IMAGE_KEYWORDS="bazzite,bootc,oci,linux,gaming"

IMAGE_LOGO_URL=""

DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
